.btn_all_filter{
    background-color: white;
    border-radius: 5px;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgba(245, 244, 243, 1);
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.btn_all_filter img{
    margin: 0;
}
.btn_all_filter span{
    margin-left: 10px;
}
