.sorted{
    display: flex;
    margin-left: 10px;
}
.filterIcons{
    width: 160px;
    height: 40px;
    background-color: rgba(217, 227, 227, 1);
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-filterIcons{
    display: flex;
    flex-direction: row;
}
